body {
    background-color: #565656;
}

.col-sm-6 {
    border-radius: 20px;
    padding: 50px;
}
.text{ 
    padding: 40px;
    margin-left: 50px;
    font-size: 50px;
    color: black;
    font-family: 'Playfair Display', cursive;
}
.container {
    background: #c09f80;
    margin: 50px auto;
    border-radius: 10px;
}
